@import '../../../styles/styles.scss';

.container {
  @include router-content;
  font-family: $ff-subtitle;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 80px;
  margin: 0 auto;

  p {
    font-size: 2rem;
    line-height: 1.5;
    font-family: $ff-title;
    font-weight: $fw-medium;
    text-align: center;
    color: $red;

    span {
      font-family: $ff-title;
      font-weight: $fw-regular;
      @include span-letter;
    }
  }
}

.feeding {
  width: 90%;
  background: rgba(89, 217, 97, .6);
  border-radius: 10px;
  display: grid;
  //grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  gap: 6px;
  padding: .2em;

  .date {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 10px;
    color: $dark-gray;
    text-align: center;
  }

  .breasts {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(242, 46, 82, .8);
    border-radius: 10px;
    color: $light-green;

    span {
      color: white;
    }
  }

  .total {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(242, 46, 82, .8);
    border-radius: 10px;
    color: $dark-gray;
    text-align: center;

    span {
      color: $white;
      padding: .1em .4em;
    }
  }

  div {
    padding: .2em .2em;
  }

  img {
    filter: invert(100%);
    width: 40px;
  }

  .otherFeedings{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    color: $white;
    text-align: center;

    .bottle, .food{
      background: rgba(242, 46, 82, .8);
      border-radius: 10px;
      padding: .5em;
    }

    .faFood {
      color: $white;
    }
  }

}


