<main class="container">
  <div class="grid-container">
    <div class="grid-item">
      <div>Izquierda</div>
      <div><fa-icon [icon]="faBreastfeeding" size="2x" class="faBreastfeeding"></fa-icon></div>
      <div>Derecha</div>
    </div>
    <div class="grid-item">
      <button class="btn"><fa-icon class="faPlay" [icon]="faPlay" size="2x"></fa-icon></button>
      <button class="btn"><fa-icon class="faPause" [icon]="faPause" size="2x"></fa-icon></button>
    </div>
    <div class="grid-item">
      <h4>00:32</h4>
      <h4>00:40</h4>
    </div>
    <div class="grid-item total">
      <h3 class="time">Total</h3>
    </div>
    <div class="grid-item">
      <button class="stop"><fa-icon [icon]="faStop" class="faStop" size="2x"></fa-icon></button>
      <h3>01:12 mins</h3>
      <button class="reset"><fa-icon [icon]="faArrowRotateBackward" class="faArrow" size="2x"></fa-icon></button>
    </div>
  </div>
  <div class="bottle">
    <fa-icon class="faCow" [icon]="faCow" size="2x"></fa-icon>
    <h3>2.5ml</h3>
    <p class="datetime">10:15 <span id="datetime"></span></p>
    <div class="resume">
      <p>2.2ml hace 2h 25min</p>
    </div>
  </div>
  <div class="solids"><fa-icon [icon]="faFood" size="2x"></fa-icon>
    <h3>200mgl</h3>
    <p class="datetime">10:15 <span id="datetime"></span></p>
    <div class="resume">
      <p>200mg hace 4h 5min</p>
    </div>
  </div>
</main>
