<div class="container">
  <div routerLink="/food" routerLinkActive="active" class="btn">
    <fa-icon [icon]="faPersonBreastfeeding"></fa-icon>
  </div>
  <div routerLink="/poo" routerLinkActive="active" class="btn"><fa-icon [icon]="faPoo"></fa-icon></div>
  <div routerLink="/home" routerLinkActive="active" class="btn"><fa-icon [icon]="faHouse"></fa-icon></div>
  <div routerLink="/vaccines" routerLinkActive="active" class="btn">
    <fa-icon [icon]="faSyringe"></fa-icon>
  </div>
  <div routerLink="/appointments" routerLinkActive="active" class="btn">
    <fa-icon [icon]="faCalendarDays"></fa-icon>
  </div>
</div>
