@import '../../../styles/styles.scss';

.container {
  @include flex-center-container(column);
  justify-content: center;
  background-color: rgba(48, 168, 242, .5);
  height: 100vh;
  width: 100vw;
  padding: 0.5em 0.8em;
  overflow: hidden;
  position: fixed;

  .image {
    height: 300px;
    max-width: 90%;
    overflow: hidden;
    padding-right: 1em;
  }

  .cta-buttons {
    @include flex-center-container(column);
    gap: 15px;
    button {
      width: 100% !important;
      &.signup-btn {
        @include btn-no-shadow($blue, $white, rgba(33, 99, 219, .3));
        text-align: center;
        font-family: $ff-subtitle;
      }

      &.signin-btn {
        @include btn-no-shadow($red, $white, rgba(82, 5, 19, 0.1));
        text-align: center;
        font-family: $ff-subtitle;
      }
    }
  }
}

main {
  margin: 0 auto;

  h1 {
    font-size: 6rem;
    font-family: $ff-title;
    font-weight: $fw-bold;
    text-align: center;
    line-height: 1.6em;
    color: $yellow;
    margin-top: -0.7em;
    margin-bottom: 0.2em;
    @include text-white-shadow;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: $ff-subtitle;
    font-weight: $fw-medium;
    text-align: center;
    color: $white;
    padding: .2em;

    span {
      font-family: $ff-title;
      font-weight: $fw-medium;
    }
  }
}
