<div class="container">
  <p class="logo">
    <fa-icon [icon]="faPoo"></fa-icon>
  </p>
  <h2><span>C</span>OLOR</h2>
  <div class="poo-color">
    <input type="radio" name="color" id="black" />
    <input type="radio" name="color" id="brown" />
    <input type="radio" name="color" id="yellow" />
    <input type="radio" name="color" id="green" />
  </div>
  <h2><span>C</span>ONSISTENCIA</h2>
  <div class="poo-option">
    <div>
      <input type="radio" name="consistency" id="soft" />
      <label for="soft">Blanda</label>
    </div>
    <div>
      <input type="radio" name="consistency" id="hard" />
      <label for="hard">Dura</label>
    </div>
    <div>
      <input type="radio" name="consistency" id="normal" />
      <label for="normal">Normal</label>
    </div>
    <div>
      <input type="radio" name="consistency" id="diarrhea" />
      <label for="diarrhea">Diarrea</label>
    </div>
  </div>
</div>
