<form>
  <div>
    <button class="back" (click)="exit()">
      <fa-icon  [icon]="faArrowLeft" size="2x"></fa-icon>
    </button>
  </div>
  <h2 class="title"><span>R</span>egistro del bebé</h2>
  <div class="input-group">
    <input type="text" id="family" name="family" placeholder="Familia" required>
  </div>
  <div class="input-group">
    <input type="text" id="baby-name" name="baby-name" placeholder="Nombre del bebé" required>
  </div>
  <div class="input-group">
    <input type="date" class="date" id="birthday" name="birthday" placeholder="F. nacimiento" required>
  </div>
  <div class="input-group">
    <input type="email" id="email" name="email" placeholder="Correo electrónico" required>
  </div>
  <div class="input-group">
    <input type="password" id="password" name="password" placeholder="Password" required>
  </div>
  <div class="input-group">
    <select id="community" name="community" class="select-css">
      <option selected disabled>Comunidad autónoma</option>
      <option value="andalucia">Andalucía</option>
      <option value="aragon">Aragón</option>
      <option value="asturias">Asturias</option>
      <option value="islas-baleares">Islas Baleares</option>
      <option value="canarias">Canarias</option>
      <option value="cantabria">Cantabria</option>
      <option value="castilla-la-mancha">Castilla-La Mancha</option>
      <option value="castilla-y-leon">Castilla y León</option>
      <option value="cataluna">Cataluña</option>
      <option value="valencia">Comunidad Valenciana</option>
      <option value="extremadura">Extremadura</option>
      <option value="galicia">Galicia</option>
      <option value="madrid">Madrid</option>
      <option value="murcia">Murcia</option>
      <option value="navarra">Navarra</option>
      <option value="pais-vasco">País Vasco</option>
      <option value="la-rioja">La Rioja</option>
    </select>
  </div>
  <button class="btn" type="submit">Guardar</button>
</form>
