$font-path: "../../assets/font" !default;

$ff-title: 'Barbar',
sans-serif;
$ff-subtitle: 'Josefin Sans',
sans-serif;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

@font-face {
  src: url('../../assets/font/JosefinSans-Regular.ttf');
  font-family: 'Josefin Sans', sans-serif;
}

@font-face {
  src: url('../../assets/font/BARBAR.otf');
  font-family: 'BARBAR';
}
