<div class="container">
  <h2 class="title"><span>V</span> acunas</h2>

  <div class="vaccinate">
    <label for="period">Selecciona el periodo de vacunación:</label>
    <select id="period" class="select-css" (change)="onSelectPeriod($event.target.value)">
      <option value=""> -- &#8595; -- </option> <!-- not selected / blank option -->
      <option *ngFor="let period of periods" [value]="period.value">{{period.display}}</option>
    </select>
    <ul class="vaccines-list" *ngIf="vaccineDescription">
      <li>
        {{ vaccineDescription }}
      </li>
    </ul>
    <fa-icon [icon]="faSyringe" size="2x"></fa-icon>
  </div>
</div>
