<div class="container">
  <h2 class="title"><span>V</span> acunas</h2>

  <div class="vaccinate">
    <label for="period">Selecciona el periodo de vacunación:</label>
    <select id="period" class="select-css">
      <option value="0">Recién nacido</option>
      <option value="1">1 mes</option>
      <option value="2">2 meses</option>
      <option value="4">4 meses</option>
      <option value="6">6 meses</option>
      <option value="12">12 meses</option>
    </select>

    <ul class="vaccines-list">
      <li *ngFor="let vaccine of vaccines">{{ vaccine.name }}</li>
      <li>Hepatitis B</li>
      <li>Pentavalente (Difteria, Tétanos, Tosferina, Haemophilus Influenzae B y Hepatitis B)</li>
      <li>Polio</li>
    </ul>
    <fa-icon [icon]="faSyringe" size="2x"></fa-icon>
  </div>
</div>
