<div class="container">
  <form #form="ngForm" (ngSubmit)="update(form)" ngNativeValidate>
    <h2 class="title"><span>E</span> ditar evento</h2>
    <input
      type="text"
      name="title"
      placeholder="Título"
      [(ngModel)]="title"
      required
    />
    <textarea
      name="details"
      placeholder="Detalles"
      [(ngModel)]="details"
    ></textarea>
    <input type="date" name="date" [(ngModel)]="date" required />
    <input type="time" name="time" [(ngModel)]="time" required />
    <button class="form-btn">Guardar</button>
  </form>
  <button class="form-btn" (click)="delete()">Eliminar</button>
</div>
