@import '../../../styles/styles.scss';
.container {
    @include router-content;
    font-family: $ff-subtitle;
}

.baby-data {
    height: 100px;
    line-height: 100px;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
}

.baby-name {
    font-family: $ff-title;
    font-size: 2.5rem;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
    div {
        height: 200px;
        border-radius: 20px;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        p:nth-child(1) {
            font-size: 3rem;
            margin-top: 30px;
        }
        p:nth-child(2) {
            font-size: 1.2rem;
            margin-bottom: 0;
            margin-top: -20px;
        }
    }
    div:nth-child(1) {
        background-color: $green;
    }
    div:nth-child(2) {
        background-color: $yellow;
    }
    div:nth-child(3) {
        background-color: $red;
    }
    div:nth-child(4) {
        background-color: $blue;
    }
}
