@import '../../../styles/styles.scss';

.container {
  @include router-content;
  padding: 5em 1em;
  font-family: $ff-subtitle;
  font-weight: $fw-medium;
  font-size: medium;
  margin: 0;
  overflow: hidden;
}

.grid-container {
  padding-top: .4em;
  padding-bottom: .6em;
  border-radius: 20px;
  background: rgba(89, 217, 97, .6);
  border: 1px solid $white;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(1, 1fr);

  .grid-item {
    @include flex-center-container(row);
    justify-content: center;
    color: $white;


    .btn {
      width: 120px;
      height: 40px;
      border-radius: 10px;
      @include flex-center-container(row);
      justify-content: center;
      overflow: hidden;
      background-color: $red;
      border: 1px solid $white;
      box-shadow: 2px 5px 5px rgb(88, 82, 82);
      color: $white;
      font-family: $ff-subtitle;
      font-size: 1.3rem;

      &:active,
      &:focus {
        background-color: $yellow;
        color: $red;
      }
    }


    .faBreastfeeding {
      color: $white;
    }

    &.total {
      .time {
        color: $red;
      }
    }

    h3 {
      color: $red;
    }

    .stop {
      background-color: $red;
      border: 1px solid #e7637b;
      border-radius: 10px;
      height: 40px;
      width: 50px;

      .faStop {
        margin: 0 auto;
        color: $white;
      }
    }

    .reset {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $green;
      border: 1px solid $light-green;
      border-radius: 10px;
      width: 50px;
      height: 40px;

      .faArrow {
        margin: 0 auto;
        color: $white;
      }
    }

  }
}

.bottle {
  margin-top: .7em;
  @include flex-center-container(column);
  background: rgba(89, 217, 97, .6);
  height: 80px;
  border: 1px solid $white;
  border-radius: 20px;
  color: $white;

  .bottle-edit {
    display: flex;
    align-items: center;
    color: $white;
    font-size: 1.2rem;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 1em;
    height: 100px;

    img {
      filter: invert(100%);
      width: 50px;
      transform: rotate(90deg);
    }
  }
}

.solids {
  height: 80px;
  padding-bottom: .7em;
  border-radius: 20px;
  background: rgba(89, 217, 97, .6);
  border: 1px solid $white;
  color: $white;
  margin-top: .7em;
  @include flex-center-container(column);
  justify-content: center;

  .solids-edit {
    display: flex;
    align-items: center;
    color: $white;
    font-size: 1.2rem;
    line-height: 1.2;
    text-align: center;
    height: 40px;
  }

}

input {
  -moz-appearance: textfield;
  appearance: textfield;
  border: none;
  background: transparent;
  outline: none;
  width: 4em;
  margin: 0 1em;

  text-align: center;
  color: $white;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.form-btn {
  @include flex-center-container(row);
  justify-content: center;
  margin: .5em auto;

  button {
    @include btn-no-shadow($red, $white, rgba(82, 5, 19, 0.1));
    box-shadow: 2px 5px 5px #c9697a;
    text-align: center;
  }
}
