<main class="has-dflex-center">
  <section>
    <div class="lx-container-70">
      <div class="lx-row">
        <h1 class="title"><span>E</span> dita tu perfil</h1>
      </div>
      <div class="lx-row align-stretch">
        <div class="lx-column">
          <form action="get" (ngSubmit)="onSave()" ngNativeValidate>
            <div class="input-group">
              <span class="icon"><i class="fas fa-user"></i></span>
              <input type="text" name="username" placeholder="Nombre de usuario" autocomplete="username" [(ngModel)]="username" />
            </div>
            <div class="input-group">
              <span class="icon"><i class="fas fa-baby-card"></i></span>
              <input type="text" name="babyName" placeholder="Nombre del bebé" [(ngModel)]="babyName"/>
            </div>
            <div class="input-group">
              <span class="icon"><i class="fas fa-envelope"></i></span>
              <input type="email" name="email" placeholder="Correo electrónico" style="background-color: #a29c9d; color: rgb(216, 208, 208);"  [(ngModel)]="email" readonly/>
            </div>
            <div class="input-group">
              <span class="icon"><i class="fas fa-key"></i></span>
              <input type="password" name="currentPassword" placeholder="Password actual" autocomplete="currentPassword" [(ngModel)]="currentPassword"/>
            </div>
            <div class="input-group">
              <span class="icon"><i class="fas fa-key"></i></span>
              <input type="password" name="newPassword" placeholder="Nuevo password" autocomplete="newPassword" [(ngModel)]="newPassword"/>
            </div>
            <button class="btn" type="submit">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

<script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" defer crossorigin="anonymous"
  data-search-pseudo-elements></script>
