<div class="container">
  <h2 class="title"><span>C</span> itas</h2>
  <div *ngIf="!appointments || appointments.length === 0" class="no-content">
    Sin citas pendientes
  </div>
  <div
    class="appointment"
    *ngFor="let appointment of appointments"
    (click)="show(appointment.id)"
  >
    <div class="date">{{ appointment.date | date : "dd MMM" }}</div>
    <div class="time">{{ appointment.date | date : "HH:mm" }}</div>
    <div class="info">
      <div class="title">{{ appointment.title }}</div>
      <div class="details">{{ appointment.details }}</div>
    </div>
  </div>
</div>
